[Unit]
Description=Consul service discovery agent

[Service]
ExecStart=/usr/local/bin/consul agent \
          -data-dir=/var/lib/consul \
          -config-dir=/etc/consul \
          -rejoin \
          -retry-max 10 \
          -retry-interval 10s
          -retry-join consul.0f06a3e0-a0da-eb00-a7ae-989d4e44e2ad.cns.us-east-1.joyent.com \
Restart=always
