[Unit]
Description=Consul service discovery agent

[Service]
ExecStartPre=/bin/mkdir -p /var/lib/consul
ExecStartPre=/bin/mkdir -p /etc/consul
ExecStart=/usr/local/bin/consul agent \
          -data-dir=/var/lib/consul \
          -bind={% raw %}'{{ GetInterfaceIP "net1" }}'{% endraw %} \
          -config-dir=/etc/consul \
          -rejoin \
          -retry-interval 10s \
          -retry-join consul.svc.{{ triton_cns_search_domain_private }}
Restart=always
